@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
  }

  code, pre {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer components {
  .prose-code {
    @apply bg-zinc-800 px-1.5 py-0.5 rounded text-sm font-mono;
  }
}
